PRODUCTS_DB_PASS=
PRODUCTS_DB_USER=
PRODUCTS_DB_NAME=
PRODUCTS_DB_PORT=

PAYMENTS_DB_PASS=
PAYMENTS_DB_USER=
PAYMENTS_DB_NAME=
PAYMENTS_DB_PORT=

ORDERS_DB_PASS=
ORDERS_DB_USER=
ORDERS_DB_NAME=
ORDERS_DB_PORT=

RABBITMQ_PORT=
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASS=

EUREKA_SERVER_PORT=
