PRODUCTS_DB_PASS=admin
PRODUCTS_DB_USER=admin
PRODUCTS_DB_NAME=products_db
PRODUCTS_DB_PORT=5432

PAYMENTS_DB_PASS=admin
PAYMENTS_DB_USER=admin
PAYMENTS_DB_NAME=payments_db
PAYMENTS_DB_PORT=5432

ORDERS_DB_PASS=admin
ORDERS_DB_USER=admin
ORDERS_DB_NAME=orders_db
ORDERS_DB_PORT=5432

RABBITMQ_HOST=rabbit-mq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

EUREKA_SERVER_PORT=8761
